.right-contents
 .right-contents__top
  .right-contents__top__chat.clearfix
   .right-contents__top__group nekotter
   %a{href: "/group/521/edit", class: "right-contents__top__edit"} edit
  .right-contents__top__member nekosan

 .right-contents__middle
  .right-contents__middle__message.clearfix
   .right-contents__middle__message__nickname nekoneko
   .right-contents__middle__message__date 2017/08/03 21:00:00
   .right-contents__middle__message__comment nya-nya-
  .right-contents__middle__message.clearfix
   .right-contents__middle__message__nickname dogdog
   .right-contents__middle__message__date 2017/08/03 21:00:00
   .right-contents__middle__message__comment wanwan
  .right-contents__middle__message.clearfix
   .right-contents__middle__message__nickname kamekame
   .right-contents__middle__message__date 2017/08/03 21:00
   .right-contents__middle__message__comment kamekame

 .right-contents__bottom
  %form{}
   .right-contents__bottom__footer
    %input{type: "text", placeholder: "type a message", class: "message"}
     %lebel{class: "file-image"}
      %input{type: "file", class: "file"}
       %i{class: "fa fa-image"}
    %input{type: "submit", class: "send", value: "send"}
