.left-contents
 .left-contents__top
  .left-contents__top__user-contents
   .left-contents__top__name morimori
   %a{href: "/group/new", class: "left-contents__top__newchat"}
    %i{class: "fa fa-pencil-square-o"}
   %a{href: "/users/edit", class: "left-contents__top__edit"}
    %i{class: "fa fa-cog"}

 .left-contents__bottom
  .left-contents__bottom__group
   .left-contents__bottom__group__name nekoneko
   .left-contents__bottom__group__massage inuinu
  .left-contents__bottom__group
   .left-contents__bottom__group__name puchipuchi
   .left-contents__bottom__group__massage shioshio
  .left-contents__bottom__group
   .left-contents__bottom__group__name puchipuchi
   .left-contents__bottom__group__massage shioshio
