.left-contents
 .left-contents__top
  .left-contents__top__user-contents
   .left-contents__top__name= current_user.name
   = link_to "/groups/new",  class: "left-contents__top__newchat" do
    %i{class: "fa fa-pencil-square-o"}
   = link_to "/users/edit", class: "left-contents__top__edit" do
    %i{class: "fa fa-cog"}

 .left-contents__bottom
  .left-contents__bottom__group
   - @group.each do |group|
    .left-contents__bottom__group__name= group.name
    .left-contents__bottom__group__mmessage まだメッセージはありません。
