.right-contents
 .right-contents__top
  .right-contents__top__chat.clearfix
   .right-contents__top__group nekotter
   %a{href: "/group/521/edit", class: "right-contents__top__edit"} edit
  .right-contents__top__member nekosan

 .right-contents__middle
  .right-contents__middle__message.clearfix
  - @message.each do |message|
   .right-contents__middle__message__nickname=message.user.name
   .right-contents__middle__message__date=message.created_at
   .right-contents__middle__message__comment=message.body

 .right-contents__bottom
  %form{}
   .right-contents__bottom__footer
    %input{type: "text", placeholder: "type a message", class: "message"}
     %lebel{class: "file-image"}
      %input{type: "file", class: "file"}
       %i{class: "fa fa-image"}
    %input{type: "submit", class: "send", value: "send"}
